#header-img {
    width: 100vw;
    height: 200px;
}

#video {
    width: 60vw;
}

#nav-bar {
    display: flex;
    list-style: none;
    flex-direction: row;
}

@media (max-width: 600px) {
    #nav-bar {
        background-color: gray;
    }
}